.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02 {
  background-color: black !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T::after {
  background: #000 !important;
  opacity: 0.05 !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T::after {
  background: blue !important;
  opacity: 0.05 !important;
}