body {
  margin: 0;
  font-family: 'Space Grotesk', 'IBM Plex Serif', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 30px;
  border: 0;
  position: relative;
  text-align: left;
  overflow: hidden;
  margin-bottom: 5px;
  line-height: 8px;
  width: 61px !important;
  height: 26px;
  outline: none;
  z-index: 0;
  margin-right: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
}
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important; 
}
.fc button:hover, .fc button:focus {
  outline: 0 !important; 
}
.noUi-handle:focus {
  outline: none; 
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
label {
  font-size: 15px;
}
input {
  caret-color: #379683;
  font-size: 14px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h3 {
  font-weight: 600;
  font-size: 20px;
}
h4 {
  font-weight: 500;
  font-size: 20px;
}
h5 {
  font-weight: 400;
  font-size: 17px;
}
p {
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 10px;
}
.wrapper-full-page {
  background-color : #edf0ee;
  color: black;
  height : 100%;
  height: 100vh;
  min-height : 100vh;
}
.navbar-brand {
  color: black
}
.topnav {
  overflow: hidden;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
.footer a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.footer span {
  float: right;
  font-weight: 300;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer a {
    padding-left: 21px;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    float: none; }
  .footer span {
    display: block;
    padding-right: 15px;
    margin-bottom: 5px;
    text-align: center;
    float: nome; }
}
.login-card {
  left: 0;
    line-height: 200px;
    margin-top: -130px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.card-body{
  background-color: transparent;
  border-bottom-width: 0px;
}
.card-header {
  background-color: transparent;
  border-bottom-width: 0px;
  font-weight: 100;
}
.card-footer {
  border-top-width: 0px;
  background-color: transparent;
}
.input-group-text {
  background-color: transparent;
  border-color: #e5e5e5;
  border-top-width: 1px;
}
.input-group {
  margin-bottom: 10px;
}
.login-input {
  border-left-width: 0px;
  border-color: #e5e5e5;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  border-color: #e5e5e5;
}
.btn-round {
  border-radius: 12px;
}

.content {
  position: relative;
  overflow: hidden;
  transition: all .15s;
  padding: 0 20px;
  margin-left: 64px;
}
.react-bootstrap-table table {
  table-layout: auto;
}

/* Invalid feedback for forms */
.invalid-feedback {
  box-sizing: border-box;
  color: rgb(251, 99, 64);
  display: block;
  font-size: 10px;
  font-weight: 400;
  margin-top: 4px;
  text-align: left;
  word-wrap: break-word;
}

/* font size for select */
.filter.select-filter.form-control {
  font-size: 12px;
}
select {
  font-size: 12px !important;
}
